/* 
    Document   : leeptySidebar
    Created on : 16 juin 2012, 13:14:36
    Author     : Techniv <vpeybernes.pro@gmail.com>
*/

.leeptySidebar{
	position: fixed;
	z-index: 10000;
	top: 0px; left: 0px;
	
	overflow-x: hidden;
	width: 50px;
	
	box-shadow: inset -2px 0px 10px 0px rgba(0,0,0,0.5);
}

.leeptySidebar .leeptyContent{
	width: 350px;
}

.leeptySidebar .leeptyHeader{
	font-family: 'Lobster Two', cursive;
	font-size: 1.6em;
	margin-left: 50px;
}

.leeptySidebar .leeptyList{
	display: table;
	list-style: none;
	margin-left: 0px;
}
.leeptySidebar .leeptyList li{
	display: table-row;
	background-position: left center;
	background-repeat: no-repeat;
	
	min-height: 50px;
}
.leeptySidebar .leeptyList li > div{
	display: table-cell;
	margin-right: 2px;
}

.leeptySidebar .leeptyList li div.leeptyItemTumb{
	width: 50px; min-height: 50px;
}
.leeptySidebar .leeptyList li div.leeptyItemContent{
	min-height: 50px;
	vertical-align: middle;
}

@font-face {
	font-family: 'Lobster Two';
	font-style: italic;
	font-weight: 700;
	src: local('Lobster Two Bold Italic'), local('LobsterTwo-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/lobstertwo/v4/LEkN2_no_6kFvRfiBZ8xpARV2F9RPTaqyJ4QibDfkzM.woff') format('woff');
}
@font-face {
	font-family: 'Lobster Two';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster Two'), local('LobsterTwo'), url('http://themes.googleusercontent.com/static/fonts/lobstertwo/v4/Law3VVulBOoxyKPkrNsAaIbN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
