<% 
for( var i in this.data.posts){ 
	var post = this.data.posts[i];
%>
<li>
	<div class="leeptyItemTumb">
		<img src="<%=post.tumb%>"/>
	</div>
	<div class="leeptyItemContent">
		<a class="leeptyItemTitle" href="<%=post.url%>">
			<%= post.title %>
		</a>
		<% if (post.sample){ %>
		<div class="leeptyItemSample">
			<%= post.sample %>
		</div>
		<% } %>
	</div>
</li>
<% } %>
