<% 
console.log(this.data)
for( var i in this.data.items){
	if(i==10)break;
	var tweet = this.data.items[i];
%>
<li>
	<div class="leeptyItemTumb">
		<img src="<%=tweet.profile_image_url%>"/>
	</div>
	<div class="leeptyItemContent">
		<a class="leeptyItemTitle" href="https://twitter.com/<%= tweet.from_user %>">
			@<%= tweet.from_user %>
		</a>
		<% if (tweet.text){ %>
		<div class="leeptyItemSample">
			<%= tweet.text %>
		</div>
		<% } %>
	</div>
</li>
<% } %>
