<div id="<%=this.contenerId%>" class="leeptyWidget leeptySidebar">
	<div class="leeptyContent">
		<div class="leeptyHeader"><%= lang.relatedPost %></div>
		<div class="lwScroller"><ul class="leeptyList"></ul></div>
	</div>
</div>
